@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Song+Myung&display=swap");

* {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container {
  margin: 0 !important;
  padding: 0 !important;
}
